<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link href="http://80.90.191.154:8080/css/styles.css" rel="stylesheet">-->
    <link href="https://localhost:8443/css/styles.css" rel="stylesheet">
    <title>Events</title>

</head>

<body class="body">
<div class="container">
    <div>
        <a class="ui-button" id="auth" href="/sign" style="float: right">Войти</a>
    </div>
    <div class="content" th:each="event : ${events}">
        <ul class="list list-reset flex">
            <li class="list-item name">
                <a class="list-link" th:href="@{/events/{id}(id=${event.getId()})}" th:text="${event.getEventName()}">
                    user </a>
            </li>
            <li class="list-item">
                <a class="ui-button list-link" style="margin-left: 10px"
                   th:href="@{/events/{id}/edit(id=${event.getId()})}"> edit </a>
            </li>
            <li class="list-item ">
                <form class="form-delete" th:method="DELETE"
                      th:action="@{/events/{id}(id=${event.getId()})}">
                    <button class="ui-button list-delete" style="margin-left: 10px" href="#"> delete</button>
                </form>
            </li>
        </ul>
    </div>
    <div class="outline">
        <a class="ui-button" id="new-event" href="/events/new">Add Event</a>
    </div>
</div>
</body>
</html>