<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show event</title>
    <link href="https://eventjavaspb.ru/css/styles.css" rel="stylesheet">
    <!--    <link href="http://80.90.191.154:8080/css/styles.css" rel="stylesheet">-->
    <!--    <link href="https://localhost:8443/css/styles.css" rel="stylesheet">-->
</head>
<body class="body">
<div class="container">
    <fieldset class="fields">
        <ol class="list-list">
            <li><label for="name">Name: </label>
                <p class="list-item" id="name" th:text="${event.getEventName()}">value</p></li>
            <li><label for="address">Address: </label>
                <p class="list-item" id="address" th:text="${event.getAddress()}"></p></li>
            <li><label for="date">Date: </label>
                <p class="list-item" id="date" th:text="${event.getDate()}"></p></li>
            <li><label for="url">URL: </label><a class="list-item" id="url" th:href="@{${event.getUrl()}}"
                                                 th:text="${event.getUrl()}"></a></li>
        </ol>
    </fieldset>
    <a class="ui-button" th:href="@{/events/{id}/edit(id=${event.getId()})}">edit</a>
    <a class="ui-button" href="/events">back</a>
    <br>
    <div class="outline">
        <fieldset class="fields-participants">
            <legend>Список участников:</legend>
            <ol class="list-participants">
                <div class="content-list-participants" th:each="participant : ${participants}">
                    <ul class="list list-reset flex">
                        <li class="list-item name">
                            <a class="list-link" th:text="${participant.getName()}"> user </a>
                            <form class="form-delete" th:method="DELETE"
                                  th:action="@{/events/{id}/{userId}(id=${event.getId()}, userId=${participant.getId()})}">
                                <button class="ui-button delete"
                                        th:href="@{/events/{id}/edit(id=${event.getId()})}">delete
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </ol>
        </fieldset>
    </div>
</div>
</body>
</html>